flask==3.0.2
flask-cors==4.0.0
flask-jwt-extended==4.6.0
flask-sqlalchemy==3.1.1
bcrypt==4.1.2
redis==5.0.1
python-dotenv==1.0.1
gunicorn==21.2.0
SQLAlchemy==2.0.28
Werkzeug==3.0.1
mariadb==1.1.7
alembic==1.12.1
psutil==5.9.5
python-crontab==3.0.0
paramiko==3.3.1
pyOpenSSL==23.2.0
dnspython==2.4.2
requests==2.31.0
python-pam==2.0.2 